.container {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.form {
  background-color: white;
  /* opacity: 0.2; */
  width: 500px;
  margin: auto;
}
